//设置头部的颜色以及文字的位置
body{
  background: #f8f8f8;
}
//内容部分设置
.content{
  background-color: #f8f8f8;
}
 .page{
 	& .header{
 		background: #ff8108;
 		height: 46px;
 		width: 100%;
 	}
 	& .title{
 		line-height: 46px;
 		text-align: center;
 		color: #fff;
 		font-size: 16px;
 		letter-spacing: 2px;
 		font-family: arial, sans-serif;
 		white-space: nowrap;
 	}
 	& .title img{
 		padding-top: 13px;
 	}
 	& .title img:first-child{
 		padding-left: 15px;
		float: left;
 	}
 	& .title img:last-child{
 		padding-right:15px;
 		float: right;
 	}//颜色渐变
 	& .offline-header,.area-header,.loginCheck-header{
 		background-image: -webkit-linear-gradient(top left, #ff7e00, #ff5c00); 
 	}
 	// & .area-header{
 	// 	padding-left: 15px;
 	// 	padding-right: 15px;
 	// }
 	& .area-header .pull-left{
    padding-left: 13px;
 		color: #fff;
 		position: relative;
  		z-index: 20;
  		font-size: 20px;
  		line-height: 46px;
		float: left;

 	}
  &  .area-header .pull-right{
    color: #fff;
    position: relative;
      z-index: 20;
      font-size: 16px;
      line-height: 46px;
      padding-right:15px;
    float: right;
  }
 	& .area-header{
 		 position: absolute;
  			right: 0;
  left: 0;
  z-index: 10;
  height: 46px;
  // padding-right: 15px;
  // padding-left: 15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 	}
 	& .area-header .title{
 		 position: absolute!important;
  		display: block!important;
  		width: 100%!important;
  		padding: 0!important;
 		 // margin: 0 -30px!important;
  

 	}
 }
 //关于轮播图样式设置
  .swiper-wrapper {
            height: auto;
        }

        .swiper-slide img {
            width: 100%;
        }

        .swiper-slide .title {
            font-style: italic;
            font-size: 42px;
            margin-top: 80px;
            margin-bottom: 0;
            line-height: 45px;
        }

        .swiper-pagination {
            position: absolute;
            z-index: 20;
            margin: 0 auto;
            left: 50%;
            bottom: 10px;
        }

        .swiper-pagination-switch {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: #222;
            margin-right: 5px;
            opacity: 0.8;
            border: 1px solid #fff;
            cursor: pointer;
        }

        .swiper-visible-switch {
            background: #aaa;
        }

        .swiper-active-switch {
            background: #fff;
        }

.swiper-pagination{left: 50%!important;transform: translateX(-50%)!important;-webkit-transform: translateX(-50%)!important;}
.swiper-slide img{height: auto!important;max-height: 200px!important;}/*max-height: 225px!important;*/
.shopping-content .swiper-container {
    margin: 0;
}
//关于按钮固定在底部
.bar-tab{
   bottom: 0;
    width: 100%;
    height: 46px;
    padding: 0;
    table-layout: fixed;
}
.see-activity{
  background-image: -webkit-linear-gradient(top left, #ff7e00, #ff5c00); 
  text-align: center;
  font-size: 16px;
  color: #fff;
  height: 45px;
  line-height: 45px;
}
.bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 44px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}