//设置头部的颜色以及文字的位置
 .page{
 	& .header{
 		background: #ff8108;
 		height: 46px;
 		width: 100%;
 	}
 	& .title{
 		line-height: 46px;
 		text-align: center;
 		color: #fff;
 		font-size: 16px;
 		letter-spacing: 2px;
 		font-family: arial, sans-serif
 	}
 }