.join-activity{
    background: #00b0ec;
    text-align: center;
    font-size: 16px;
    color: #fff;
    height: 45px;
    line-height: 45px;
}
//发布活动的查看详情
.sendOffline-content{
    & .weui-cells{
       
        margin-top: 0;
    }
    & .weui-label{
        width: 80px;
        border-right: 1px solid #dfdfdf;
        font-size: 16px;
    }
    & .weui-input{
        color: #999999;
        font-size: 14px;
    }
    & .weui-cell{
    border-bottom: 1px solid #dfdfdf;
    } 
    & .weui-cell:before{
        height:0;
        border: none;
    }
    & .weui-cell__bd{
        margin-left: 12px;
    }
    & .textarea-header{
       margin-bottom: 68px;
    }
    & .button-sp-area{
        width: 90%;
        margin: 30px auto;
    }
    & .weui-btn_plain-default{
        background: #ff8108;
        color: #FFFFFF;
        border: none;
    }
}